<html>
<head th:replace="~{base :: head}"></head>
<body class="bg-dark">
	<div th:replace="~{base :: menu}"></div>

	<div class="container ">
		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>
		
		<form th:action="@{/pedido/novo}" th:object="${requisicaoNovoPedido}" class="mt-3" method="post" >
			<div class="form-floating mb-3">
				<input th:field="*{nome}" th:errorClass="is-invalid" class="form-control" type="text" placeholder="Nome do produto "/>
				<label for="nome">Produto</label>
				<div class="form-text">Informe qual o nome do produto</div>
				<div class="invalid-feedback" th:errors="*{nome}">Não pode estar vazio!</div>
			</div>
			<div class="form-floating mb-3">
				<input th:field="*{urlImagem}" th:errorClass="is-invalid" class="form-control" type="text" placeholder="Url da imagem do produto "/>
				<label for="urlImagem">Url da Imagem</label>
				<div class="form-text">Pegue a imagem do produto em um site</div>
				<div class="invalid-feedback" th:errors="*{urlImagem}">Não pode estar vazio!</div>
			</div>
			<div class="form-floating mb-3">
				<input th:field="*{urlProduto}" th:errorClass="is-invalid" class="form-control" type="text" placeholder="Url do produto" />
				<label for="urlProduto">Url do Produto</label>
				<div class="form-text">Pegue a url do produto em um site</div>
				<div class="invalid-feedback" th:errors="*{urlProduto}">Não pode estar vazio!</div>
			</div>
			<div class="form-floating mb-3">
				<textarea th:field="*{descricao}" class="form-control" th:errorClass="is-invalid" placeholder="Descreva as principais caracterísitcas do produto"></textarea>
				<label for="descricao">Descrição</label>
				<div class="invalid-feedback" th:errors="*{descricao}">Não pode estar vazio!</div>
			</div>
			<button class="btn btn-primary" type="submit">Cadastrar</button>
		</form>
		
	</div>
</body>
</html>